:root{
  --page-color: #fafafa;
  --accent-color: #afeeee;
  --dark-color: #234f1e;
  --button-color: #f2ffa2;
  --border-radius: 6px;
  --font: Helvetica;
}
body{
  font-size: 1rem;
  background: var(--page-color);
  margin: 0px;
  font-family: var(--font);
  box-sizing: border-box;
}
.Title{
  background: var(--accent-color);
  display:flex;
}
.menu{
  flex:0,1;
  width:10rem;
  display:flex;
  flex-flow:column;
}
.collapsible{
  padding:1rem;
  display:flex;
  flex-flow:column;
}
button{
  border: 1px solid var(--dark-color);
  font-size: calc(1rem + 0.6vw);
  cursor: pointer;
  padding: var(--padding-med) var(--padding-lg);
  border-radius: var(--border-radius);
  background: var(--button-color);
  color: var(--dark-color);
  user-select: none;
  margin: 0px 0.25rem 0.75rem 0px;
}
button:hover {
  background: var(--page-color);
}
.Title h1{
  flex:2;
  font-size: 3rem;
  color: var(--dark-color);
  margin: auto;
  padding: 2rem;
  text-align: center;
  text-decoration: underline;
}
.outline{
  margin: 0.1rem;
  padding: 1rem;
  border: solid;
  border-color: var(--dark-color);
  border-width: 0.75rem;
  border-radius: 0.5rem;
}
.product{
  display: grid;
  grid-template-columns:1fr 3fr;
  grid-gap: 1rem;
}
.subtitle{
  padding-left: 0.3rem;
  font-size: 1.5rem;
}
.team h1{
  text-align: center
}
ul{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}
li{
  margin-left: auto;
  margin-right: auto;
}
